#zona_contingut{
    background: transparent url('../img/content.png') no-repeat 0 0;
    width: 2048px;
    height: 1536px;
    position:absolute;
    top:0px;
    left: 0px;
}

/*55 × 87*/
.mano2{ 
    background: transparent url('../shared/css/images/mano_02.png') no-repeat 0 0;

    width: 55px;
    height: 87px;
    bottom: 80px;
    left: 80px;
}


.REGURGITACIÓN{
    background: transparent url('../img/bebe_03.png') no-repeat 0 0;
    background-size: 100%;
    width: 485px;
    height: 585px;
    right: 500px;
    top: 502px;
}
.ESTREÑIMIENTO{
    background: transparent url('../img/bebe_02.png') no-repeat 0 0;
    background-size: 100%;
    width: 485px;
    height: 585px;
    left: 630px;
    top: 600px;
    z-index: 2;
}
.CÓLICOS{
    background: transparent url('../img/bebe_01.png') no-repeat 0 0;
    background-size: 100%;
    width: 485px;
    height: 585px;
    left: 197px;
    top: 500px;
    z-index: 1;
}
