

#btn_1, 
#btn_2, 
#btn_3 {
    top: 330px;
}

#btn_1 {    left: 200px;}
#btn_2 {    left: 750px;}
#btn_3 {    left: 1300px;}

#global{
    background: transparent url('portada.jpg') no-repeat 0 0;
}

#back-menu.portada{
    background: transparent url("../shared/css/images/fondo_menu_02.png") no-repeat center;
    position: absolute;
    right: 0px;
    top: 120px;
    height: 1420px;
    width: 260px;
    z-index: 0;
}
#top{
    background: transparent url("top.png") no-repeat center;
    z-index: 0;
    height: 100%;
    width: 100%;
    left: 510px;
    bottom: 686px;
    position: absolute;
}