#zona_contingut{
    background: transparent url('../img/content.png') no-repeat 0 0;
    width: 2048px;
    height: 1536px;
    position:absolute;
    top:0px;
    left: 0px;
}


.btn-pop-1{
    background: transparent url('../img/boton_03.png') no-repeat 0 0;
    width:220px;
    height:213px;
    top: 340px;
    right: 340px;
}
.btn-pop-2{
    background: transparent url('../img/boton_04.png') no-repeat 0 0;
    width: 731px;
    height: 85px;
    bottom: 130px;
    right: 340px;
}