#zona_contingut{
    background: transparent url('../img/content.png') no-repeat 0 0;
    width: 2048px;
    height: 1536px;
    position:absolute;
    top:0px;
    left: 0px;
}


#btn-1{
    background: transparent url('../img/btn-1.png') no-repeat 0 0;
    width: 1257px;
    height: 115px;
    left: 260px;
    bottom: 420px;
}

#btn-2{
    background: transparent url('../img/btn-2.png') no-repeat 0 0;
    width: 361px;
    height: 86px;
    left: 260px;
    bottom: 330px;
}

#btn-3{
    background: transparent url('../img/btn-3.png') no-repeat 0 0;
    width:362px;
    height:169px;
    left: 710px;
    bottom: 245px;
}
#btn-4{
    background: transparent url('../img/btn-4.png') no-repeat 0 0;
    width:361px;
    height: 86px;
    right: 530px;
    bottom: 330px;
}
.btn-pop1{
    background: transparent url('../img/btn_popup_01.png') no-repeat 0 0;
    width:86px;
    height: 85px;
    top: 740px;
    left: 480px;
}
.btn-pop2{
    background: transparent url('../img/btn_popup_02.png') no-repeat 0 0;
    width:86px;
    height: 85px;
    top: 740px;
    left: 930px;
}
.btn-pop3{
    background: transparent url('../img/btn_popup_03.png') no-repeat 0 0;
    width:86px;
    height: 85px;
    top: 740px;
    right: 580px;
}