@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "VAG_Rounded_Bold";
    src: url("fonts/VAG_Rounded_Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-btntancar:before {
  content: "\61";
}
.icon-ic-next:before {
  content: "\62";
}
.icon-ic-prev:before {
  content: "\63";
}
.icon-ic-btnpop:before {
  content: "\64";
}
.icon-ic-adn:before {
  content: "\65";
}
.icon-ic-escudo:before {
  content: "\66";
}
.icon-ic-bacterias:before {
  content: "\67";
}
.icon-ic-solu:before {
  content: "\68";
}
.icon-ic-lapiz:before {
  content: "\69";
}
.icon-ic-info-1:before {
  content: "\6a";
}
.icon-ic-popup:before {
  content: "\6b";
}
.icon-ic-casa:before {
  content: "\6c";
}
