#zona_contingut{
    background: transparent url('../img/content.png') no-repeat 0 0;
    width: 2048px;
    height: 1536px;
    position:absolute;
    top:0px;
    left: 0px;
}


.contingut_popup{
    top: 0px;
    left: 0px;
    position: absolute;
}