/************************************************
	FONTS
************************************************/

@font-face {
    font-family: 'fontsHelvetica_Neue';
    src: url('fonts/HELVETICANEUELTSTD-ROMAN.ttf') format('truetype'),
         url('fonts/HELVETICANEUELTSTD-ROMAN.svg#06ce8507218b5fc98ef98a8271373604') format('svg');
}

@font-face {
    font-family: 'Helvetica_Neue_Bold';
    src: url('fonts/HELVETICANEUELTSTD-BD.ttf') format('truetype'),
         url('fonts/HELVETICANEUELTSTD-BD.svg#5971a26102354d59c0f922ff596bc172') format('svg');
}

@font-face {
    font-family: 'Helvetica_Light';
    src: url('fonts/Helvetica-Light.ttf') format('truetype'),
         url('fonts/Helvetica-Light.svg#53fc34fb6737daa8ac541a82b0a99ee9') format('svg');
}

/************************************************
	APP STYLES
************************************************/

body {
    font-family: 'Helvetica_Neue_Bold';
    font-size: 30px;
    line-height: 1.3;
}

/*b {
   font-family: 'Helvetica_Neue_Bold';
   font-weight: normal;
}*/

p {    margin-bottom: 4px;}

.hidden {           display: none;}

.brand_color_primary {    color: #db0d1a;}

#global{
    background: transparent url('images/bg.jpg') no-repeat 0 0;
}

#np4{
    z-index: 2;
}
#logo {
    width: 400px;
    float: left;
    margin: 50px;
    font-size: 45px;
}
.abs{
    position: absolute;
}
/**************************************
******* BTN ***************************
***************************************/


.btn {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    background: #666666;
}

.retina .btn {
    min-width: 100px;
    min-height: 100px;
}



.btn.big {
    width: 350px;
    height: 350px;
}

.popup .btn-tancar {
    top: 30px;
    right: 40px;
}

.btn-tornar {
    top: 110px;
    right: 120px;
}


/****** botó pressionat *****/
.pressed.btn-react {
    opacity: 0.7 !important;
}

/**************************************
******* Zona contingut ****************
***************************************/

#zona_contingut {
    position: absolute;
    top: 180px;
    left: 50px;
    width: 1950px;
    height: 1280px;
}

/**************************************
******* Menu **************************
***************************************/

#mainmenu {
    position: absolute;
    right: 0px;
    top: 215px;
    height: 1100px;
    width: 130px;
}

#mainmenu ul li {
    position: relative;
}

#mainmenu ul li > span {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
}

#mainmenu ul.nivell-1 li > span {
    -webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
}

#mainmenu ul.nivell-2,
#mainmenu ul.nivell-3 {
    display: none;
    background-color:#9b9b9b;
}

#mainmenu ul.nivell-2,
#mainmenu ul.nivell-3 {
    position: absolute;
    top:0;
    left: -200px;
    width: 200px;
}

.retina #mainmenu ul.nivell-2,
.retina #mainmenu ul.nivell-3{
    left: -400px;
    width: 400px;
}



#mainmenu ul.nivell-1 li {
    height: 225px;
    /*border-bottom: 1px solid #ababab;*/
    border-top: 1px solid #bcbcbc;
}

#mainmenu ul.nivell-1 li:first-child { 
    border-top: 1px solid #bcbcbc;
}
#mainmenu ul.nivell-1 li:last-child { 
    border-bottom: 1px solid #bcbcbc;
}


#mainmenu li.focused {
    background: yellow;
}
#mainmenu li.active .textos{
    color: #009adc;
}

#mainmenu li.active .ic{
    color: #009adc;
}
/**************************************
******* Popup *************************
***************************************/

.popup {
    background: transparent url('images/bg_popup.png') no-repeat center center;
    width: 2000px !important;
    height: 1480px !important;
    top:35px;
}
.padding-pop{
    padding: 80px;
}
retina.pop{
    width: 1996px;
    height: 1428px;
}


.retina .popup-slide-left,
.retina .popup-slide-right {
    top: 20px !important;
}

.btn-tancar{
    position: absolute;
    font-size: 120px;
    margin-top: 30px;
    color: #afbac1;
}
.btn-tornar{
    position: absolute;
    font-size: 120px;
    margin-top: 30px;
    color: #afbac1;
    top: 30px;
    right: 40px;
}

/********************************
********************************
POPS REFERENCIAS & INSTRUCCIONES
********************************
********************************/

#btn-next-popup, #btn-next-popup2{
    font-size: 120px;
    color: #D7DEE0;
    bottom: 20px;
    left: 610px;
    width: 100px;
    height: 100px;
}

#btn-prev-popup, #btn-prev-popup2{
    font-size: 120px;
    color: #D7DEE0;
    bottom: 20px;
    right: 650px;
    width: 100px;
    height: 100px;
}
#btn-prev-popup.active{
    color: #094F99;
}
#btn-prev-popup2.active{
    color: #094F99;
}
#btn-next-popup.active{
    color: #094F99;
}
#btn-next-popup2.active{
        color: #094F99;
}
.contingut_popup{
    top: 0px;
    left: 0px;
    position: absolute;
}
#ocult{
    display: none;
    z-index: -1;
}
#ocult.active{
    display: block;
    width: 100px;
    height: 100px;
    z-index: 11;
}
#ocult.active.right{
    bottom: 20px;
    left: 610px;
}
#ocult.active.left{
    bottom: 20px;
    right: 650px;
}
#ocult2{
    display: none;
    z-index: -1;
}
#ocult2.active{
    display: block;
    width: 100px;
    height: 100px;
    z-index: 11;

}
#ocult2.active.right{
    bottom: 20px;
    left: 610px;
}
#ocult2.active.left{
    bottom: 20px;
    right: 650px;
}

/**************************************
******* Bullets **************************
***************************************/

.bullet {
    border-radius: 50%;
    background-color: grey;
}
.bullet.active {
    background-color: red;
}

/**************************************
******* logo **************************
***************************************/

.logo-nestle{
    background: transparent url('images/logo_nestle.png') no-repeat center center;
    width: 200px;
    height: 120px;
    right: 30px;
    bottom: 30px;
}
#back-menu{
    background: transparent url(images/fondo_menu.png) no-repeat center;
    position: absolute;
    right: 0px;
    top: 230px;
    height: 1310px;
    width: 260px;
}
#submenu{
    position: absolute;
    height: 100px;
    width: 320px;
    top: 22px;
    right: 0px;
    z-index: 3;
}
#submenu li {
    height: 100px;
    display: inline;
}
/*icons menu*/

.ic{
    font-size: 100px;
    margin-top: 23px;
    top: 0px;
    /* display: block; */
    left: 10px;
    position: absolute;
    color: #004d9b;
}
/*icons submenu*/

.icon{
    font-size: 90px;
    color: #ffffff;
}
.textos{
    font-family: "VAG_Rounded_Bold" !important;
    font-size: 31px;
    line-height: 1.1;
    display: block;
    width: 100%;
    margin-left: 20px;
    margin-top: 110px;
    position: relative;
    color: rgba(0, 0, 0, 0.75);
}

/**************************************
******* caja-bullets **************************
***************************************/

.caja-bolas{
    width: 170px;
    height: 30px;
    bottom: 60px;
    left: 825px;
    display: inline;
}

.bola {
    background: transparent url('images/bullet_off.png') no-repeat center;
    position: relative;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 20px;
}

.bola.active {
    background: transparent url('images/bullet_on.png') no-repeat center;
}



#btn-next{
    font-size: 120px;
    color: #D7DEE0;
    bottom: 20px;
    right: 420px;
    width: 100px;
    height: 100px;
}

#btn-prev{
    font-size: 120px;
    color: #D7DEE0;
    bottom: 20px;
    left: 200px;
    width: 100px;
    height: 100px;
}

/*ACTIVE*/

#btn-prev.active{
    color: #094F99;
}
#btn-next.active{
    color: #094F99;
}
.caja-bolas-popup{
    width: 101px;
    height: 30px;
    bottom: 96px;
    right: 890px;
    z-index: 11;
    display: inline;
}
.mano {
    background: transparent no-repeat 0 0;
    width: 80px;
    height: 90px;
}
.mano.referencia { bottom: 82px;}
.mano.pop { bottom: 52px;}
.mano1 { background-image: url('images/mano_01.png');}
.mano2 { background-image: url('images/mano_02.png');}
.mano-cerrar { background-image: url('images/mano_03.png');}
.mano-cerrar2 { background-image: url('images/mano_04.png');}

.mano-cerrar.referencia { left: 62px;}
.mano-cerrar2.referencia { left: 62px;}
.mano-cerrar2.pop { left: 32px;}