#zona_contingut{
    background: transparent url('../img/content.png') no-repeat 0 0;
    width: 2048px;
    height: 1536px;
    position:absolute;
    top:0px;
    left: 0px;
}


.btn-goto-pos{
    width:  530px;
    height: 543px;
    right: 450px;
    bottom: 400px;
        background: transparent url('images/grafica_01.png') no-repeat 0 0;

}

.ui-slider {
    position: absolute;
    width: 62px;
    height: 750px;
    bottom: 280px;
    left: 796px;
    background: transparent url('images/barra_01.png') no-repeat center 0;
}


.ui-slider .ui-slider-handle {
    position: absolute;
    left: -32px;
    z-index: 2;
    width:129px;
    height: 132px;
    margin-bottom: -61px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: transparent url('images/slider_redondo.png');   
}

.ui-slider-vertical .ui-slider-range-min {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: block;
    border: 0;
    background: transparent url('images/barra_02.png') no-repeat center bottom;
}

.mano { 
    bottom: 82px;
    width: 80px;
    height: 90px;
}
.mano1 { left: 62px;}
.mano2 { left: 143px;}
